.head {
    display: flex;
    margin-top: 1rem;;
    margin-inline-start: 2rem;
}

.head > * {
    margin-right: 2rem;
}
.head > img{
    height: 10vh;
}

a {
    text-decoration: none;
    color: rgb(159, 176, 222);
}

.border-bottom {
    border-bottom: 1px solid gray;
}