/* Header Styles */

.head {
    display: flex;
    align-items: center;
    /* justify-content: */
    padding: 10px;
    background-color: #282c34; /* Adjust background color as needed */
    color: white;
  }
  
  .head img {
    width: 50px; /* Adjust image size as needed */
    height: 50px;
    margin-right: 10px;
  }
  
  .head h2 {
    margin: 0;
  }
  
  .home,
  .favorites {
    margin-left: 20px;
  }
  
  .home, .favorites a {
    text-decoration: none;
    /* color: white; */
  }
  
  .home:hover,
  .favorites:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  